html,
body {
  font-family: Consolas, terminal, 'courier new';
  padding: 3em 2em;
  font-size: 18px;
  background: #222;
  color: #aaa
}

body {
  height: 2000px;
  text-align: center;
}
a {
  color:#fff;
}
header {
  position:fixed;
  top:0;
  left:0;
  width:100%;
}
svg {
  padding:0;
  margin:0;
}
h1,
h2 {
  font-weight: 200;
  margin: 0.4em 0;
}

h1 {
  font-size: 3.5em;
}
h2 {
  color: #888;
  font-size: 2em;
}
